OLLAMA_MODEL=qwen3:1.7b
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_NUM_GPU_LAYERS=-1
EMBED_MODEL=nomic-embed-text
EMBED_DIM=1024
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
TOP_K_CHUNKS=5
UPLOAD_DIR=uploads
VECTOR_STORE_DIR=vector_stores
NOTES_DIR=notes
THREADS_DIR=threads
FRONTEND_ORIGIN=http://localhost:5173

# To avoid the import
PYTHONPATH=python_path
